{{ 'starratting.css' | asset_url | stylesheet_tag }}

{% assign color = '#000000' %}

{% comment %} <script type="application/json" class="product-card-json">
  {{ product | json }}
</script>
<script defer src="{{ 'theme.js' | asset_url }}"></script> {% endcomment %}

<div id="star-rating-template" style="display: none;">
  <div class="starRatting">
    <span class="staraSpan" style="color:{{color}}; font-size: 20px" data-star-rating> </span>

    <span class="review-text-style" data-review-count> 0 review </span>
  </div>
</div>

<script defer src="{{ 'starDesigns.js' | asset_url }}"></script>
<script defer src="{{ 'starratting.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Product Theme",
  "target": "body"
}
{% endschema %}
