{% assign text = text | default: "Click" %}
{% assign color = color | default: "#fff" %}
{% assign background = background | default: "#000" %}
{% assign padding = padding | default: "10px 20px" %}
{% assign radius = radius | default: "5px" %}
{% assign url = url | default: "#" %}
{% assign position = position | default: "static" %}

<a href="{{ url }}"
   style="
      display:inline-block;
      background: {{ background }};
      color: {{ color }};
      padding: {{ padding }};
      border-radius: {{ radius }};
      position: {{ position }};
      text-decoration:none;
   ">
  {{ text }}
</a>
